
.square {
    width: 600px;
    height: 800px;
    background-color: #3b392dd8;
    margin: 60px auto;
    border-radius: 50px;
}

.square-lg {
    width: 400px;
    height: 400px;
    background-color: #3b392d21;
    margin: 60px auto;
    border-radius: 50px;
}

.inp-email {
    width: 300px;
    height: 50px;
    margin: 20px;
    margin-left: 30px;
    font-size: 25px;
    background-color: rgb(151, 139, 139);
    border-radius: 15px;
}

.dd {
    margin: 22px;
}

.login {
    width: 150px;
    height: 50px;
    margin-left: 400px;
    margin-top: 80px;
    background-color: rgb(151, 139, 139);
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
}

.login-lg {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: rgb(151, 139, 139);
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
}

.login-bak {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(151, 139, 139);
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
}

.square-rec {
    width: 1000px;
    height: 70px;
    background-color: #332e10d5;
    margin: 10px auto;
    border-radius: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

.card-wrap{
    height: 13.65rem;
    width: 27.15rem;
    border-radius: 0.37rem;
    perspective: 1000px;
}
.card{
    height: inherit;
    width: inherit;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d; 
}
.card-front,.card-back{
    position: absolute;
    height: inherit;
    width: inherit;
    backface-visibility: hidden;
    border-radius: 0.37rem;
}
.card-front{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f024671;
}
.card-logo img{
  width: 290px;
}
.card-back{
    background-color: #CCD6DD;
    transform: rotateY(180deg);
}
.card-back .user img{
    width: 35%;
    float: left;
    border-radius: 50%;
    margin: 1.6rem 1.1rem;
    box-shadow: 3px 3px 10px #66757F;
}
.card-wrap:hover .card{
    transform: rotateY(180deg);
}
.user-info{
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #292F33;
    padding: 1.6rem 1.1rem;
}
.user-info .username{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(2, 68, 99);
}
.user-info .user-bio{
    font-size: 1rem;
    margin: 1.1rem 0;
}
.follow-btn{
    padding: 0.5rem;
    width: 9rem;
    color: #E1E8ED;
    background-color: #ce0505;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    border-radius: 0.27rem;
    margin: 0 auto;
}
.follow-btn:hover{
    cursor: pointer;
    background-color: #ff0d41;
    color: white;
}